<div class="row">
  <table class="table table-striped">
    <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
    <tr> <td>09:00</td>  <td>Introduction and Welcome</td> </tr>
    <tr> <td>09:15</td>  <td>Python Fundamentals</td> </tr>
    <tr> <td>09:45</td>  <td>Analyzing Radiance Data</td> </tr>
    <tr> <td>10:30</td>  <td>Repeating Actions with Loops</td> </tr>
    <tr> <td>10:45</td>  <td>Break</td> </tr>
    <tr> <td>11:00</td>  <td>Storing Multiple Values in Lists</td> </tr>
    <tr> <td>11:45</td>  <td>Making Choices</td> </tr>
    <tr> <td>12:00</td>  <td>Lunch</td> </tr>
    <tr> <td>13:00</td>  <td>Analyzing Data from Multiple Files</td> </tr>
    <tr> <td>13:45</td>  <td>Creating Functions</td> </tr>
    <tr> <td>14:30</td>  <td>Defensive Programming</td> </tr>
    <tr> <td>15:00</td>  <td>Break</td> </tr>
    <tr> <td>15:15</td>  <td>Debugging</td> </tr>
    <tr> <td>16:00</td>  <td>Command-Line Programs</td> </tr>
    <tr> <td>17:00</td>  <td>END</td> </tr>
  </table>
</div>
